@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

:root {
  --font-montserrat: 'Montserrat', 'sans-serif';
  --font-chango: 'Chango', 'sans-serif';
  --color-cream: #f5f0e9;
  --color-blue: #2b59c3;
  --color-orange: #f98948;
  --color-brown: #433123;
  --color-purple: #d4d3ea;
}

p {
  font-size: 14px;
  font-family: var(--font-montserrat);
  font-weight: 400;
  color: var(--color-brown);
}

h3 {
  font-size: 23px;
  font-family: var(--font-montserrat);
  font-weight: 700;
}

h2 {
  font-size: 37px;
  font-family: var(--font-chango);
  letter-spacing: -0.09em;
}

h1 {
  font-size: 59px;
  font-family: var(--font-chango);
  letter-spacing: -0.09em;
  color: var(--color-blue);
}
